catalogs/goldfish/catalog_local.cfg
catalogs/goldfish/var/log/*
catalogs/goldfish/var/run/*
catalogs/goldfish/var/session/*
catalogs/goldfish/var/tmp/*
interchange/interchange_local.cfg
interchange/bin/interchange
interchange/src/vlink*
interchange/src/tlink*
interchange/src/config.status
interchange/src/config.h
interchange/src/config.log
interchange/var/log/*
interchange/var/run/*

httpd/
cgi-bin/
pgsql/

!.dir
